{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for todo_item in todo_items %}
        <li>{{todo_item.title}}: {todo_item.status}}:</li>
        <form action="http://localhost:5000/complete/{{todo_item.title}}" method="post" class="form-complete">
          <div class="form-complete">
            <input type="submit" value="Complete">
          </div>
        </form>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <form action="http://localhost:5000/add" method="post" class="form-todo">
    <div class="form-todo">
      <label for="todo_item">Enter your task: </label>
      <input type="text" name="todo_item" id="todo_item" required>
    </div>
    <div class="form-todo">
      <input type="submit" value="Submit">
    </div>
  </form>
{% endblock %}
